body{
    background-color: pink;
}
table{
    border: none;
    border-color: pink;
}
/*--nav starts here--*/
nav {
    padding:15px;
    font-size:18px;
    background: rgba(0, 0, 0, .2);
    font-family:sans-serif
}

img {
    width: 200px;
    
}

.logo img {
    margin-bottom: -50px;
    
}

nav ul li{
    display: inline;
}

nav ul {
    text-align: center;
    margin-right: 80px;
}

nav a{
    text-decoration: none;
    padding:15px;
    color:ghostwhite;
    transition: padding-bottom .3s;
}
nav ul a:hover{
    border-bottom: 2px solid green;
    padding-bottom: 3px;
}
/*--nav ends here--*/

/*--header-words starts here--*/
.header-words{
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    
}
.header-words p{
    margin:20px;
}
.header-words p:nth-of-type(1) {
    font-size: 60px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}
/*--header-words ends here--*/

#prompt {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman';
    font-size: 17px;
    font-weight: bold;
    padding: 20px 20px;
    padding-left: 30%;
    text-align: left;
}

#confPrompt {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: bold;
    padding-left: 10%;
    padding: 20px 20px;
}
.inputForm {
    border-radius: 5px;
    padding: 10px;
    font-family: calibri;
    width: 25%;
}

.inputForm2 {
    border-radius: 20px;
    padding: 20px;
    font-family: calibri;
    width: 50%;
}


.shortInput {
    border-radius: 5px;
    padding: 10px;
    font-family: calibri;
    width: 10%;
}

.click {
    background-color: orange;
    border-radius: 12px;
    padding: 12px;
    font-family: calibri;
    font-size: 15px;
    border-radius: 12px;
    padding: 12px;
}

.click:hover {
    background-color: green;
}

.click1 {
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    font-family: calibri;
    font-size: 10px;
    border-radius: 10px;
    padding: 10px;
}

.click1:hover {
    background-color: green;
}

/*--form ends here--*/

